<%= form_with(model: student2, local: true) do |form| %>
  <% if student2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student2.errors.count, "error") %> prohibited this student2 from being saved:</h2>

      <ul>
      <% student2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student2_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :student2_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
